
@import "./variables.scss";

.contact-section {
    background-color: $stark-red;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media(min-width: $tablet) {
        padding: 8rem;
    }

    h2 {
        color: $stark-light;
        font-size: 2.5rem;
        font-weight: 900;
        text-transform: uppercase;
    }

    form {
        width: 100%;
        max-width: 750px;
        
        @media(min-width: $tablet) {
            width: 90%;
        }
    }

    .email-form {
        border: 6px solid $stark-midgrey;
        position: relative;
        overflow: hidden;
        box-shadow: 1rem 1rem 0 rgb(0 0 0 / 9%);
        background-color: $stark-midgrey;
    
        .email-header {
            background-color: $stark-midgrey;
            color: $stark-light;
            font-size: 1.5rem;
            font-weight: 900;
            padding: 0.5rem;
            display: block;
            width: 100%;
            border: 0;
        }
    
        #email-form {
            border: none;
            color: $stark-dark;
            box-shadow: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
            height: 500px;
            font-size: 1.25rem;
            outline: none;
            overflow: auto;
            padding: 1rem;
            width: 100%;
            resize: none;

            &::placeholder {
                text-transform: uppercase;
            }
        }
    }
    
    .paper-plane {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        width: 3rem;
        z-index: 2;
        padding: 0;
        margin: 0;
        cursor: pointer;
        background: none;
        border: none;
    }
}

.email-link-container {
    padding: 4rem;
    background-color: $stark-grey;
    text-align: center;

    a {
        text-decoration: none;
        font-size: 1.25rem;
        color: $stark-light;
    }
}