@import "./variables.scss";

.how-did-we-get-here {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12rem 0;
    min-height: 15rem;

    .react-typewriter-text {
        font-style: italic;
        color: $stark-dark;
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }

    .react-typewriter-pointer {
        display: none;
    }
}