
.sticky-logo-stark,
.sticky-logo-minds {
    position: fixed;
    z-index: 3;

    svg {
        width: 100%;
        overflow: visible;
        filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
    }

    #minds-logo {
        animation-duration: 20s;
        animation-name: rotatelogo;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        transform-origin: center;
        transform-box: fill-box;
    }
}

@keyframes rotatelogo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.sticky-logo-stark {
    top: 0.25rem;
    left: 0.25rem;
    width: 10rem;

    @media(min-width: $tablet) {
        top: 0.5rem;
        left: 0.5rem;
        width: 12.5rem;
    }

    @media(min-width: $desktop) {
        width: 15rem;
        top: 1rem;
        left: 1rem;
    }
}

.sticky-logo-minds {
    bottom: 0.25rem;
    right: 0.25rem;
    width: 10.5rem;

    @media(min-width: $tablet) {
        bottom: 0.5rem;
        right: 0.5rem; 
        width: 13.25rem;
    }

    @media(min-width: $desktop) {
        width: 15.5rem;
        bottom: 1rem;
        right: 1rem; 
    }
}