$white: white;
$stark-dark: #292930;
$stark-red: #f13d3d;
$stark-grey: #737373;
$stark-light: #fffdf3;
$stark-midgrey: #a6a6a6;
$stark-green: #c4ff00;
$border-bottom: 1px solid $white;
$p-size: 1.5rem;