@import "./variables.scss";

.we-are {
    background-color: $stark-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    position: relative;
    
    @media(min-width: $tablet) {
        min-height: 1250px;
    }

    @media(min-width: $desktop) {
        min-height: 1250px;
    }

    &::before {    
        content: "";
        background: url('../components/sections/HowWeThink/print.svg') repeat-y;
        background-size: cover;
        position: absolute;
        top: -100vh;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.05;
        animation: slide 500s linear infinite;
    }

    @keyframes slide {
        0% {
            transform: translate3d(0, 0, 0);
        }
        100% {
            transform: translate3d(0, 100vh, 0);
        }
    }

    h2 {
        border: 5px solid $stark-grey;
        padding: .5rem 1.5rem;
        font-size: 2.25rem;
        color: $stark-red;
        margin-bottom: 3rem;
        font-weight: 900;
        background-color: $stark-light;
        z-index: 2;

        @media(min-width: $tablet) {
            font-size: 3.5rem;
        }

        @media(min-width: $desktop) {
            font-size: 3.5rem;
        }
    }

    .type-section {
        width: 90%;
        min-height: 15rem;
        
        @media(min-width: $tablet) {
            width: 50%;
            width: 50%;

        }

        .react-typewriter-text {
            text-align: center;
            color: $stark-grey;
            font-size: 1.5rem;

            @media(min-width: $tablet) {
                font-size: 1.75rem;
            }
    
            @media(min-width: $desktop) {
                font-size: 2rem;
            }
        }
    }

    .logo-container {
        position: absolute;
        opacity: .1;
        
        svg {
            width: 50%;
        }
    }
}
