@import "./variables.scss";

// Sections
@import "./contact.section.scss";
@import "./clients.section.scss";
@import "./header.section.scss";
@import "./grid.section.scss";
@import "./howdidwegethere.section";
@import "./howwethink.scss";
@import "./weare.section.scss";
@import "./mission.section.scss";

// Components
@import "./stickylogo.scss";
@import "./backgroundglobe.scss";

* {
    font-family: $noto;
    box-sizing: border-box;
}

h1 {
    color: $stark-red;
    padding: 0;
    margin: 0;
    font-size: 9vw;
    text-align: center;

    @media(min-width: $tablet) {
        font-size: 5vw;
    }

    @media(min-width: $desktop) {
        font-size: 4vw;
    }

    @media(min-width: $xl) {
        font-size: 3vw;
    }
}

.block {
    align-self: stretch;
    box-sizing: border-box;
    padding: 1rem;
    border-left: $border-bottom;
    border-right: $border-bottom;

    @media(min-width: $desktop) {
        padding: 2rem;
    }

    &-25,
    &-50,
    &-75 {
        width: 100%;
        box-sizing: border-box;
    }
    &-25 {
        @media(min-width: $tablet) {
            width: 25%;
            min-height: none;
        }
    }

    &-75 {
        @media(min-width: $tablet) {
            width: 75%;
            min-height: none;
        }
    }

    &-50 {
        @media(min-width: $tablet) {
            width: 50%;
            flex-basis: 50%;
            min-height: none;
        }
    }

    &-100 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

.section-spacer {
    margin-bottom: 8rem;
}

.over-bleed {
    padding: 3.25rem;
    background-color: $stark-grey;
}